@import "@/theme/_variables.scss";

.button {
  position: relative;
  padding: 5px 34px;
  border-radius: 20px;
  margin: 5px 0px;
  background-color: transparent;
  color: #fafafa;
  border: solid 1px rgba($color: #fafafa, $alpha: 0.3);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.9s cubic-bezier(0.25, 1, 0.5, 1);

  .button-text {
    position: relative;
    z-index: 2;
  }

  .fill-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $secondary;
      border-radius: 50%;
      transition: all 0.9s cubic-bezier(0.25, 1, 0.5, 1);
      transform: translateY(-100%);
    }
  }

  &:hover {
    .fill-container {
      transform: translateY(-50%) rotate(0);

      &::after {
        transform: translateY(0);
      }
    }
  }
}
